# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Coverage
.coverage
.coverage.*
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*

# Type checker
.pyre/

# Audio
*.mp3
*.wav
*.ogg
*.oga
*.opus
*.flac
*.m4a
*.m4b
*.mp4
*.aac
*.wma
*.aiff
*.aif
*.ape
*.amr
*.webm
